@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

/* ============================================================================================== */
/* NAVBAR */

nav {
    display: flex;
    width: 80%;
    font-size: 20px;
    /* TOPO DIREITA BAIXO ESQUERDA */
    margin: 2% 10% 0 10%;
    justify-content: space-evenly;
}

.retNavbar {
    display: flex;
    background-color: #AC5D00;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    justify-content: space-evenly;
}

#logo {
    width: 100;
    height: 100px;
    border-radius: 100px;
    margin: 0;
    padding: 0;
}

/* ============================================================================================== */
/* CARRINHO */
.carrinho {
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
    padding: 2.5% 7.5% 0px 7.5%;
 }

/* PRODUTOS */
.container-produtos {
    display: flex;
    flex-direction: column;
}

.produto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

/* IMAGENS DOS PRODUTOS */
#imgProd {
   width: 158px;
   height: 158px;
   margin-right: 20px;
}

.prodInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* NOME DO PRODUTO */
#produtoTit {
    padding-left: 5px;
    font-weight: 500;
}

#preco {
    display: flex;
    padding-left: 5px;
    margin-right: 10px;
    font-weight: 400;
}

#qtd {
    display: flex;
    align-items: flex-start;
    padding-left: 5px;
    margin-right: 10px;
    font-weight: 400;
}

.quantidade {
    display: flex;
    align-items: center;
}

.quantidade img {
    width: 30px;
    height: 30px;
}

.valor {
    display: flex;
    margin-left: 400px;
    justify-content: space-between;
}

.quantidade button {
    background-color: #000;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.resumo-pedido {
    display: flex;
    text-align: center;
    flex-direction: column;
    /* flex: 1; */
    width: 385px;
    height: 413px;
    justify-content: center;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 10px #AC5D00;
    margin-right: 150px;
}

.resumo-pedido button {
    width: 100%;
    height: 50px;
    background-color: #AC5D00;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 750;
    margin-top: 20px;
}

.resumo-pedido h2 {
    margin-top: 0;
}

/* ============================================================================================== */
/* FOOTER */


.footer {
    background-color: #AC5D00;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 30px;
    padding: 0.3% 3% 0.3% 0;
    margin: 0;
}

.footerIcons {
    width: 30%;
    height: 100%;
    margin: 0;
}

#footerIcons {
    width: 7%;
    height: 100%;
    margin: 0 5% 0 5%;
}