@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Khand";
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ============================================================================================== */
/* NAVBAR */

.desktopNavbar {
    display: none;
}

.mobileTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
}

#logo {
    width: 20%;
    height: 20%;
}

.mobileSidebar {
    position: fixed;
    display: flex;
    justify-content: left;
    right: 0;
    top: 0;
    padding: 1% 0.5% 0 0%;
    width: 25%;
    height: 100%;
    font-size: 14px;
    border-radius: 10px 0 0 10px;
    background-color: #AC5D00;
}

.col-menu {
    margin: 0 10% 0 5%;
    padding: 0;
}

.open-sidebar-btn {
    background-color: #AC5D00;
    border: none;
}

#menuIcon {
    font-size: 20px;
    font-weight: 500;
}

.col-links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

/* ============================================================================================== */
/* MENU INICIAL */

.menuDesktop {
    display: none;
}

.menuMobile {
    width: 100%;
    margin: 3% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.boasVindas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#boasVindas {
    font-size: 20px;
    font-weight: 500;
}

#boasVindasImg {
    width: 40%;
}

#slogan {
    width: 70%;
    font-size: 24px;
    font-weight: 400;
}

#slogan b {
    font-weight: 600;
}

.menuBurger-container {
    padding: 10% 0 15% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("imgs/bgShape04.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 95% 100%;
}

#menuBurger {
    width: 60%;
    border-radius: 1000px;
}

.sobre-container {
    width: 100%;
    margin: 0;
    padding: 10% 0 10% 0;
    display: flex;
    justify-content: center;
    background-image: url("imgs/bgShape05.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.sobre {
    width: 90%;
    background-color: rgba(0, 0, 0, .5);
}

#sobreTit {
    font-size: 20px;
    font-weight: 600;
}

.sobreDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
