@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');
 
body {
    font-family: "Khand";
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
}
nav {
    display: flex;
    width: 80%;
    font-size: 20px;
    margin: 2% 10% 0 10%;
    justify-content: space-evenly;
}
 
.retNavbar {
    background-color: #AC5D00;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
 
#logo {
    width: 100;
    height: 100px;
    border-radius: 100px;
    margin: 0;
    padding: 0;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Khand";
}
 
body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
}
 
header {
    background-color: #AC5D00;
    padding: 20px;
    text-align: center;
}
 
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
 
main {
    padding: 20px;
}
 
.pedido {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
}
 
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
 
label {
    display: block;
    margin-bottom: 5px;
}
 
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #AC5D00;
    border-radius: 5px;
}
 
input[type="submit"] {
    background-color: #AC5D00;
    color: #AC5D00;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
footer {
    display: flex;
    background-color: #AC5D00;
    bottom: 0%;
    justify-content: right;
    align-items: center;
}
 
#footerIcons {
    width: 1cm;
    margin: 0 1% 0 1%;
}
