@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

body {
    width: 100%;
    font-family: "Khand", sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
}

a:any-link {
    color: #FFFFFF;
    text-decoration: none;
}

/* ================================================ */
/* NAVBAR */

.mobileTop {
    display: none;
}

.desktopNavbar {
    display: flex;
    width: 100%;
    font-size: 20px;
    /* TOPO DIREITA BAIXO ESQUERDA */
    padding: 2% 7.5% 0 7.5%;
    justify-content: space-evenly;
}


.retNavbar {
    background-color: #AC5D00;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    padding: 0.2%;
    display: flex;
    justify-content: space-evenly;
}

#retNavbarEsq {
    border-radius: 10px 0 0 10px;
}

#retNavbarDir {
    border-radius: 0 10px 10px 0;
}

#logo {
    width: 7%;
    height: 100%;
}

/* MENU */

#info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#infoProduto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgBackground {
    width: 100%;
    max-width: 500px;
}

#imgBurger {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgDetalhe {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#nomeProduto {
    color: #D97500;
    font-weight: 600;
    font-size: 250%;
}

#precoProduto {
    font-weight: 500;
    font-size: 200%;
}

#descProduto {
    color: #C5C5C5;
}

.btnAddCarrinho {
    background-color: #D97500;
    color: white;
    padding: 10px 65px;
    border: none;
    border-radius: 10px;
    font-weight: normal;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}

/* ================================================================ */
/* FOOTER */

.footer {
    background-color: #AC5D00;
    position:fixed;
    bottom: 0;
    display: flex;
    justify-content: right;    
    width: 100%;
    padding: 0.5% 0 0;
    margin-top: auto;
}

.footerIcons {
    align-items: center;
    width: 30%;
    height: 100%;
    margin: 0;
}

.footerIcon {
    width: 7%;
    height: 100%;
    margin: 0 5% 0 5%;
}

#ifoodIcon {
    width: 9%;
    height: 100%;
    margin: 0 5% 0.7% 5%;
}

#igFbIcon {
    width: 8%;
    height: 100%;
}

/* ========================================================== */
/* Media queries para responsividade */
@media (max-width: 768px) {
    .desktopNavbar {
        display: none;
    }

    .mobileTop {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 15%;
    }
    
    #logo {
        width: 20%;
        height: 20%;
    }
    
    .mobileSidebar {
        position: fixed;
        display: flex;
        justify-content: left;
        right: 0;
        top: 0;
        padding: 1% 0 0 0.75%;
        width: 25%;
        height: 100%;
        font-size: 13px;
        border-radius: 10px 0 0 10px;
        background-color: #AC5D00;
    }
    
    .colMenu {
        width: 10%;
        margin: 0 20% 0 0;
        padding: 0;
    }
    
    .openSidebarBtn {
        background-color: #AC5D00;
        border: none;
    }
    
    #menuIcon {
        font-size: 20px;
        font-weight: 500;
    }
    
    .colLinks {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        line-height: 30px;
    }

    #imgBurger {
        width: 300px;
        height: 300px;
    }

    #imgDetalhe {
        width: 80px;
        height: 80px;
    }

    #nomeProduto {
        font-size: 200%;
    }

    #precoProduto {
        font-size: 180%;
    }

    .btnAddCarrinho {
        padding: 10px 30px;
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .infosDrt {
        margin-top: 20px;
    }
}
